@import url("https://fonts.googleapis.com/css2?family=JetBrains+Mono:wght@700&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

input[type="range"] {
  accent-color: #a4ffaf;
}

.active-bar {
  background: #f8cd65;
  border-color: #f8cd65;
}

@layer base {
  html {
    font-family: "JetBrains Mono", monospace;
  }
}
